body {
    font-size: 2em;
    background: #000000;
    color: #bfbfbf;
}

#banner {
    overflow: hidden;
    height: 275px;
    position: relative;
}

#banner img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.padd {
    padding-top: 50px;
}

#clinton {
    float: left;
}

#clinton {
    float: right;
}